/* app css stylesheet */
body {
  background: url('img/bg1.jpg');
  
    background-attachment: fixed;
    background-position: center;
    background-repeat: repeat-y;
    background-size: cover;
    font-weight: 200;
}


.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.website {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
}
.website img.loaded {
  opacity: 1;
}

.website img {
  width:50px;
  float: left;
  opacity: 0.1;
  height: 50px;
  border-radius: 50%;
}

.booking {
  text-align:center;
  font-size: 80%;
}

.booking .tag {
  font-size: 70%;
    line-height: 1;
    margin-top: -10px;
    padding-bottom: 10px;
}

.owner_logo {
  max-width: 50px;
}
.angular-google-map-container { height: 400px; }

.shop .md-list-item-text h4 {
  font-size: 14px;
  margin-top: 2px;
  margin-bottom: 2px;
}
.shop .md-list-item-text h5 {
  font-size: 12px;
  margin-top: 2px;
  margin-bottom: 2px;
}
.shop .md-list-item-text h6 {
  font-size: 10px;
  margin-top: 2px;
  margin-bottom: 22px;
}

.being_checked {
  font-size: 80%;
  padding: 4px 24px;
  margin-top: -12px;
}

.md-avatar {background-color: #e8e8e8;}

md-dialog-content md-card>img, md-card>md-card-header img {
  max-height: 165px;
}

.list-header {
  font-size: 14px;
  background-color: #d84315;
  padding: 4px;
  color: white;
  font-weight: 800;
}
.list-description {
  padding: 10px 10px;
  background-color: rgba(216, 67, 21, 0.19);
  font-size: 90%;
}

.resorts ul li {
    font-weight: 600;
}
.resorts ul li ul li {
    font-size: 89%;
    font-weight: 200;
}